
  <md-content>

    <section class="jumbotron">
      <h1>{{title}}</h1>
      <form ng-submit="save()">
        <input type="text" ng-model="new_task.description">
        <button type="submit">Salvar</button>
      </form>
      <ul>
       <li ng-repeat="task in tasks" >
         <form ng-submit="update()" ng-show="current_task.id==task.id">
	   <input type="text" ng-model="current_task.description">
           <button ng-click="setCurrent()">Cancelar</button>
           <button type="submit">Salvar</button>
	 </form>
         <span ng-click="setCurrent(task)" ng-hide="current_task.id==task.id">
           {{task.description}}
           <button ng-click="remove(task)">X</button> 
         </span>
       </li>
      </ul>
    </section>

  </md-content>

